data/raw/*
data/processed/*
data/windows/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/windows/.gitkeep

models/*.pkl

__pycache__/
*.pyc
.venv/
venv/
.env

outputs/predictions/*
outputs/rankings/*
outputs/logs/*
!outputs/predictions/.gitkeep
!outputs/rankings/.gitkeep
!outputs/logs/.gitkeep

.vscode/
.idea/
